<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Head")
    <link rel="stylesheet" media="all" href="@IExecutionContext.Current.GetLink("/assets/styles/main.css")" />
    <link rel="stylesheet" media="screen" async href="@IExecutionContext.Current.GetLink("/assets/styles/prism.css")" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.webmanifest">
</head>
<body class="dark">
    <header>
        <div class="logo">
            <div class="title">@Html.Raw(ViewBag.HeaderTitle.Replace(".", "<span class='orange'>.</span>"))</div>
        </div>
        <nav>
            <ul>
                @{
                    foreach (var link in (IEnumerable<Link>)ViewBag.Links)
                    {
                        <li><a href="@link.Url">@link.Label</a></li>
                    }
                }

                @if (ViewBag.ShowDarkModeToggle)
                {
                    <li>
                        <label class="switch">
                            <input type="checkbox" checked="checked" onchange="this.checked ? document.querySelector('body').classList.add('dark') : document.querySelector('body').classList.remove('dark')">
                            <span class="slider round"></span>
                        </label>
                    </li>
                }
            </ul>
        </nav>
    </header>

    <main>
        <div class="layout">
            @RenderBody()
        </div>
    </main>
    <footer>
        <div class="footer-wrapper">
            <div class="logo">
                <div>@Html.Raw(ViewBag.HeaderTitle.Replace(".", "<span class='orange'>.</span>"))</div>
            </div>

            <div class="footer-column-group">
                <div class="footer-column">
                    <a href="https://github.com/Kentico/jamstackon.net">Code on GitHub</a>
                </div>
                <div class="footer-column">
                    <a href="https://github.com/Kentico/jamstackon.net/blob/main/CODE_OF_CONDUCT.md">Code of conduct</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="@IExecutionContext.Current.GetLink("/assets/scripts/prism.js")"></script>

</body>
</html>