@model Jamstack.On.Dotnet.Models.LandingPage

@{
    ViewBag.HeaderTitle = Model.Title;
    ViewBag.Links = Model.HeaderLinksTyped;
    ViewBag.ShowDarkModeToggle = Model.ShowDarkModeToggle;
}

<article>
    <div class="flex two-columns">
        <div>
            <h1>@Html.Raw(Model.Headline.Replace("?", "<span class='orange'>?</span>"))</h1>
            <div class="summary secondary">
                @Html.DisplayFor(vm => vm.Summary)
                <div class="cta-container">
                    @Html.DisplayFor(vm => vm.Cta)
                </div>
            </div>
        </div>
        <div class="flex two-columns">
            @Html.DisplayFor(vm => vm.Images)
        </div>
    </div>
    @Html.DisplayFor(vm => vm.MainText)
</article>